body {
  background-color: #1d2634;
  /* background-image: url(./../assets/background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat; */
}

.user-header {
  max-width: 133rem;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 8rem 0;
  color: white;
}

/* CarCard.css */

.car-main {
  margin: 3rem;
}

.card-container {
  display: flex;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.card-image {
  flex: 1;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.card-details {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #333;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 8px;
  color: #3b3737;
}

.card-button {
  margin-top: auto;
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-button:hover {
  background-color: #2980b9;
}

/* Responsive styles */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }

  .card-image,
  .card-details {
    flex: auto;
    width: 100%;
    height: 100%;
  }
}

.username {
  width: min-content;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin: 2rem 1rem;
  box-shadow: 5px 5px 7px 5px rgba(0, 0, 0, 0.35);
}

.car-header-text {
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
  text-transform: uppercase;
}

.car-search-header {
  width: 100%;

  text-align: center;

  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.App-header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.header-container {
  color: white;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #051226;
  box-shadow: 5px 5px 7px 5px rgba(0, 0, 0, 0.35);
}

.header-item {
  flex: 1;
  padding: 10px;
}

@media (max-width: 600px) {
  .header-item {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}

.search-heading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.search-value {
  color: white;
}
